@import './../../styles/global.scss';

@media only screen and (min-width: 577px) and (max-width: 960px) {
    .en-title-48 {
        font-size: 2.4rem;
        line-height: 3.6rem;
        letter-spacing: 0.54rem;
        transition: 0.5s;
    }
}

@media screen and (max-width: 576px) {
    .en-title-48 {
        font-size: 1.4rem;
        line-height: 2.1rem;
        letter-spacing: 0.07rem;
        transition: 0.5s;
    }
}

.box{
    background: $form-feedback-icon-valid;
}